{% extends "base.html" %} 

{% load static %}

{% block content %}

{% include "header.html" %}

    <main class="page-error">
        <div class="container">
            <section class="error-section">
                <h1 class="error-code">404</h1>
                <p class="error-message">Sorry, the page you are looking for could not be found.</p>
                <img src="{% static 'assets/images/404.png' %}" alt="page not found" class="error-img">
                <a href="index" class="btn btn-info btn-error-action">Return Home</a>
            </section>
        </div>
    </main>

{% endblock %}