{% extends "base.html" %} 

{% load static %}

{% block content %}

{% include "header.html" %}

    <main class="page-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <section class="page-header">
                        <h1>Blog Profile</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb foi-breadcrumb">
                                <li class="breadcrumb-item"><a href="index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog Profile</li>
                            </ol>
                        </nav>
                    </section>
                    <section class="foi-page-section pt-0">
                        <div class="row">
                            <div class="col-md-6">
                                <article class="blog-post media">
                                    <div class="blog-post-thumbnail-wrapper">
                                        <img src="{% static 'assets/images/blog_10.jpg' %}" alt="blog" width="155px" class="blog-post-thumbnail mr-md-3">
                                        <span class="blog-post-badge">Trending</span>
                                    </div>
                                    <div class="media-body">
                                        <p class="blog-post-date">02 APR 2020</p>
                                        <h5 class="blog-post-title">Whether you have questions or you would</h5>
                                        <p class="blog-post-excerpt">All the basics for businesses that are just getting started.</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6">
                                <article class="blog-post media">
                                    <div class="blog-post-thumbnail-wrapper">
                                        <img src="{% static 'assets/images/blog_9.jpg' %}" alt="blog" width="155px" class="blog-post-thumbnail mr-md-3">
                                        <span class="blog-post-badge">Trending</span>
                                    </div>
                                    <div class="media-body">
                                        <p class="blog-post-date">02 APR 2020</p>
                                        <h5 class="blog-post-title">Whether you have questions or you would</h5>
                                        <p class="blog-post-excerpt">All the basics for businesses that are just getting started.</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6">
                                <article class="blog-post media">
                                    <div class="blog-post-thumbnail-wrapper">
                                        <img src="{% static 'assets/images/blog_8.jpg' %}" alt="blog" width="155px" class="blog-post-thumbnail mr-md-3">
                                        <span class="blog-post-badge">Trending</span>
                                    </div>
                                    <div class="media-body">
                                        <p class="blog-post-date">02 APR 2020</p>
                                        <h5 class="blog-post-title">Whether you have questions or you would</h5>
                                        <p class="blog-post-excerpt">All the basics for businesses that are just getting started.</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6">
                                <article class="blog-post media">
                                    <div class="blog-post-thumbnail-wrapper">
                                        <img src="{% static 'assets/images/blog_7.jpg' %}" alt="blog" width="155px" class="blog-post-thumbnail mr-md-3">
                                        <span class="blog-post-badge">Trending</span>
                                    </div>
                                    <div class="media-body">
                                        <p class="blog-post-date">02 APR 2020</p>
                                        <h5 class="blog-post-title">Whether you have questions or you would</h5>
                                        <p class="blog-post-excerpt">All the basics for businesses that are just getting started.</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6">
                                <article class="blog-post media">
                                    <div class="blog-post-thumbnail-wrapper">
                                        <img src="{% static 'assets/images/blog_6.jpg' %}" alt="blog" width="155px" class="blog-post-thumbnail mr-md-3">
                                        <span class="blog-post-badge">Trending</span>
                                    </div>
                                    <div class="media-body">
                                        <p class="blog-post-date">02 APR 2020</p>
                                        <h5 class="blog-post-title">Whether you have questions or you would</h5>
                                        <p class="blog-post-excerpt">All the basics for businesses that are just getting started.</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6">
                                <article class="blog-post media">
                                    <div class="blog-post-thumbnail-wrapper">
                                        <img src="{% static 'assets/images/blog_5.jpg' %}" alt="blog" width="155px" class="blog-post-thumbnail mr-md-3">
                                        <span class="blog-post-badge">Trending</span>
                                    </div>
                                    <div class="media-body">
                                        <p class="blog-post-date">02 APR 2020</p>
                                        <h5 class="blog-post-title">Whether you have questions or you would</h5>
                                        <p class="blog-post-excerpt">All the basics for businesses that are just getting started.</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6">
                                <article class="blog-post media">
                                    <div class="blog-post-thumbnail-wrapper">
                                        <img src="{% static 'assets/images/blog_4.jpg' %}" alt="blog" width="155px" class="blog-post-thumbnail mr-md-3">
                                        <span class="blog-post-badge">Trending</span>
                                    </div>
                                    <div class="media-body">
                                        <p class="blog-post-date">02 APR 2020</p>
                                        <h5 class="blog-post-title">Whether you have questions or you would</h5>
                                        <p class="blog-post-excerpt">All the basics for businesses that are just getting started.</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6">
                                <article class="blog-post media">
                                    <div class="blog-post-thumbnail-wrapper">
                                        <img src="{% static 'assets/images/blog_3.jpg' %}" alt="blog" width="155px" class="blog-post-thumbnail mr-md-3">
                                        <span class="blog-post-badge">Trending</span>
                                    </div>
                                    <div class="media-body">
                                        <p class="blog-post-date">02 APR 2020</p>
                                        <h5 class="blog-post-title">Whether you have questions or you would</h5>
                                        <p class="blog-post-excerpt">All the basics for businesses that are just getting started.</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6">
                                <article class="blog-post media">
                                    <div class="blog-post-thumbnail-wrapper">
                                        <img src="{% static 'assets/images/blog_2.jpg' %}" alt="blog" width="155px" class="blog-post-thumbnail mr-md-3">
                                        <span class="blog-post-badge">Trending</span>
                                    </div>
                                    <div class="media-body">
                                        <p class="blog-post-date">02 APR 2020</p>
                                        <h5 class="blog-post-title">Whether you have questions or you would</h5>
                                        <p class="blog-post-excerpt">All the basics for businesses that are just getting started.</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6">
                                <article class="blog-post media">
                                    <div class="blog-post-thumbnail-wrapper">
                                        <img src="{% static 'assets/images/blog_1.jpg' %}" alt="blog" width="155px" class="blog-post-thumbnail mr-md-3">
                                        <span class="blog-post-badge">Trending</span>
                                    </div>
                                    <div class="media-body">
                                        <p class="blog-post-date">02 APR 2020</p>
                                        <h5 class="blog-post-title">Whether you have questions or you would</h5>
                                        <p class="blog-post-excerpt">All the basics for businesses that are just getting started.</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="text-center">
                                    <a href="#!" class="load-more-link">Load More</a>
                                </p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>

{% endblock %}