{% load static %}

{% block "landing-header" %}

<header class="foi-header landing-header">
    <div class="container">
        {% include "nav.html" %}
        <div class="header-content">
            <div class="row">
                <div class="col-md-6">
                    <h1>Great app that makes your life awesome</h1>
                    <p class="text-dark">He has led a remarkable campaign, defying the traditional mainstream parties courtesy of his En Marche! movement.</p>
                    <button class="btn btn-primary mb-4">Get Started</button>
                    <div class="my-2">
                        <p class="header-app-download-title">GET OUR MOBILE APP</p>
                    </div>
                    <div>
                        <button class="btn btn-app-download mr-2"><img src="{% static 'assets/images/ios.svg' %}" alt="App store"></button>
                        <button class="btn btn-app-download"><img src="{% static 'assets/images/android.svg' %}" alt="play store"></button>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="{% static 'assets/images/app_1.png' %}" alt="app" width="388px" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}